.main-content{
	background: url(../img/bg_drip.png) no-repeat;
 	height: 20vw;
}

.content-title{
	display: flex;
}

.title-competence{
	padding: 1vw;
	height: 20%;
	margin-top: 10%;
	margin-left: 5%;
	color: #f15a24;
	font-size: 6vw;
	z-index: 1;
	border-bottom: 15px solid #f15a24;
	border-top: 15px solid #f15a24;
}

.competences-2d{
	display: flex;
	align-items: center;
	margin-left: 5%;
	margin-top: 5%;
}

.text-competence{
	font-size: 1.8vw;
}

.content-competence{
	font-family: "Raleway";
	width: 80%;
}

.ico-3d-top{
	margin-right: 2%;
	margin-left: 3%;
}

