.main-content{
	background: url(../img/bg_drip.png) no-repeat;
 
}

.content-presa{
	display: flex;
}

.box-welcome{
	display: flex;
}

.welcome{
	padding: 1vw;
	margin-top: 10vw;
	margin-left: 5%;
	color: #f15a24;
	font-size: 9.2vw;
	width: 57%;
	border-top: 15px solid #f15a24;
	z-index: 1;
}

.title-moi{
	padding: 1vw;
	height: 40%;
	margin-top: 0%;
	margin-left: 5%;
	color: #f15a24;
	font-size: 3vw;
	width: 57%;
	border-bottom: 15px solid #f15a24;
	border-top: 15px solid #f15a24;
	z-index: 1;
}

.portrait{
	z-index: 2;
	margin-top:-20%;

}

.text-presa{
	font-family: "Raleway";
	margin-top: -4%;
	margin-left: 5%;
}

.subtitle-presa{
	color: #f15a24;
	font-size: 1.78vw;
	font-family: "Raleway";
}

.text-presa p{
	width: 70%;
	margin-top: 5%;
	font-size: 1.5vw;
}

.cv {
	display: flex;
	margin-left: 5%;
	margin-top: 10%;
}

.fleche-cv{
	margin-left: 5vw;
	margin-top: -7%;
}

.title-cv{
	font-size: 5vw;
	color: rgb(50,50,50);
	transform: rotate(5deg);
	transition: all 200ms ease-out;
}

.title-cv:hover{
	color: #f15a24;
	transform: rotate(0deg);
}

.box-ico-cv{
	margin-left: 10vw;
}

.ico-cv{
	width: 35vw;
	transition: all 200ms ease-out;
}

.ico-cv:hover{
	transform: rotate(-5deg);
}

.formation-top-box{
	margin-left: 5vw;
	display: flex;
}

.ico-formation{
	transform: rotate(-15deg);
}

.title-formation{
	margin-top: 5vw;
	margin-left: 1vw;
	font-size: 5vw;
	height: 5vw;
	border-bottom: 1vw solid rgb(50,50,50)
}

.box-liste{
	display: flex;
}

.liste-formation-1{
	margin-left: 17vw;
	margin-top: -4vw;
}

.liste-formation-1 h3{
	font-size: 4vw;
}

.liste-formation-1 p{
	font-size: 2vw;
	margin-top: 1vw;
}

.ville{
	font-family: "Poppins";
	margin-top: -1vw;
}

.liste-formation-2{
	margin-left: 8vw;
	margin-top: -4vw;
}

.liste-formation-2 h3{
	font-size: 4vw;
}

.liste-formation-2 p{
	font-size: 2vw;
	margin-top: 1vw;
}

.liste-formation-3{
	margin-left: -4vw;
	padding-left: 3vw;
}

.liste-formation-3 h3{
	font-size: 4vw;
}

.liste-formation-3 p{
	font-size: 2vw;
	margin-top: 1vw;
}
