.main-content{
	height: 100vw;
	background: url(../img/bg_drip.png) no-repeat;
 
}

.content-title{
	display: flex;
}

.title-project{
	padding: 1vw;
	height: 40%;
	margin-top: 10%;
	margin-left: 5%;
	color: #f15a24;
	font-size: 7vw;
	z-index: 1;
	border-bottom: 15px solid #f15a24;
	border-top: 15px solid #f15a24;
}

.ico-projet{
	margin-left: 7vw;
	transform: rotate(-10deg);
}

.type-real{
	display: flex;
	margin-top: -10vw;
	margin-left: 5vw;
}

.ico-2d-top{
	transform: rotate(10deg);
	transition: all 200ms ease-out;
}

.ico-2d-top:hover{
	transform: rotate(-5deg) scale(1.07);
}

.ico-3d-top{
	transform: rotate(-10deg);
	transition: all 200ms ease-out;
}

.ico-3d-top:hover{
	transform: rotate(-25deg) scale(1.07);
}

.ico-video-top{
	margin-top: 1vw;
	transform: rotate(10deg);
	transition: all 200ms ease-out;
}

.ico-video-top:hover{
	margin-top: 1vw;
	transform: rotate(-5deg) scale(1.07);
}

#project-2d{
	height: 35vw;
}

.title-2d{
	margin-left: 5vw;
	margin-top: 4vw;
	font-size: 4vw;
	width: 41.4%;
	border-bottom: 15px solid #f15a24;
}

.title-2d span{
	font-size: 6vw;
	color: #f15a24;
}

#project-3d{
	height: 60vw;
}

.title-3d{
	margin-left: 5vw;
	margin-top: 4vw;
	font-size: 4vw;
	width: 41.2%;
	border-bottom: 15px solid #f15a24;
}

.title-3d span{
	font-size: 6vw;
	color: #f15a24;
}

#project-video{
	height: 40vw;
}


.title-video{
	margin-left: 5vw;
	margin-top: 4vw;
	font-size: 4vw;
	width: 50%;
	border-bottom: 15px solid #f15a24;
}

.title-video span{
	font-size: 5vw;
	color: #f15a24;
}

.line-project{
	display: flex;
	width: 100%;
}

.row-project{
	width: 18%;
	margin-left: 8%;
	margin-top: 2%;
}

.single-project{
	width: 100%;
	background-color: white;
	border-radius: 50px;
	height: 500px;
}

.thumbnail-project{
	width: 88%;
	border-radius: 50px;
	border: solid white 20px;
}

.project-name{
	margin-left: 5%;
	font-size: 2vw;
}

.project-name-picto{
	margin-left: 5%;
	font-size: 1.8vw;
}