.navbar{
	background-color: rgb(251,200,80);
	height: 5vw;
	padding-top: 2vw;
	display: flex;
	justify-content: space-between;
}

.box-logo-header{
	margin-left: 4vw;
	transition: all 300ms ease-out;
}

.box-logo-header:hover{
	margin-left: 4vw;
	transform: scale(1.2) rotate(20deg);
}

.navbar ul{
	display: flex;
	justify-content: right;
	flex-direction: row;
	list-style: none;
	font-size: 2vw;
}

.navbar ul li{
	margin: 1vw;
}

